{% extends 'store/index.html' %} {% load static %} {% block content %}

<!-- Page Content -->
<div class="page-heading about-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>about us</h4>
                    <h2>our company</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our Background</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img alt="" src="{% static 'assets/images/book2.jpg'%}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Who we are &amp; What we do?</h4>
                    <p>
                        The BookSpot is a Rwandan e-commerce network that links book writers, publishers, and retailers
                        with thoughtful customers eager to purchase physical copies of books. Millions of enthusiastic
                        customers and sellers would be connected via this two-sided internet marketplace. It won't just
                        be an internet marketplace; it will also be a community where Rwandan authors' works can be
                        promoted and sold.
                        <br/><br/>Our company will use various communication methods to contact our consumers,
                        particularly book authors, in order to promote and provide good services to our clients.Our
                        market research team will help you maximize earnings by developing increasingly efficient
                        methods of measuring the competition. They will submit their findings every two months.

                    </p>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our Team Members</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <div class="thumb-container">
                        <img alt="" class="img-thumbnail" src="{% static 'assets/images/alice_web.jpg'%}"/>
                        <div class="hover-effect">
                            <div class="hover-content">
                                <ul class="social-icons">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Alice Mugengano</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <div class="thumb-container">
                        <img alt="" src="{% static 'assets/images/mvp_web.png'%}"/>
                        <div class="hover-effect">
                            <div class="hover-content">
                                <ul class="social-icons">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Ange Michel UWIZEYE</h4>
                        <span>Business Development Manager and VP</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <div class="thumb-container">
                        <img alt="" src="{% static 'assets/images/sajo_web.jpg'%}"/>
                        <div class="hover-effect">
                            <div class="hover-content">
                                <ul class="social-icons">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Anitha Snadrine MANIRIHO</h4>
                        <span>Chief Financial Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <div class="thumb-container">
                        <img alt="" src="{% static 'assets/images/bonheur_web.jpg'%}"/>
                        <div class="hover-effect">
                            <div class="hover-content">
                                <ul class="social-icons">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Bonheur NGEZAYO</h4>
                        <span>Marketing Manager</span>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}
